html{
  scroll-behavior: smooth;
  overflow-x:hidden;
}

body{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  line-height: 1.6em;
}

#more {display: none;}

#blogPage .content{
  border-style: groove;
  border-color: #777;
  padding: 10vh;
  text-align: center;
  margin: 100px;
  
}


#blogPage .content h2 {
  color: #333;
  font-weight: 300;
  font-size: 50px;
  text-align: left;
}

#blogPage .content h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  text-align: left;
}

#blogPage .content p {
  line-height: 26px;
  text-align: left;
}

#blogPage .content p:last-child {
  margin-bottom: 0;
}

.portfolio-hero {
 background: url(../img/background3.jpg) no-repeat center center fixed;
 height: 100vh;
 padding: 10px;
 background-size: 100%;
 text-align: center;
 color: white;
 margin: -8px;
}

.portfolio-profile {
    width: 800px;
    height: 550px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.portfolio-profile h1 {
    font-weight: 300;
    margin: 15px;
    font-size: 9.2rem;
    -webkit-text-stroke: -1px black;
    color: white;
}


.portfolio-header{
    font-size: 4vh;
    width: 1200px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: left;
}

.portfolio-header h1{
  font-size: 5.2rem;
}

.portfolio-header h2{
  font-size: 2.2rem;
  font-style: italic;
  color: rgb(245, 245, 245);
}


.button {
  border-radius: 4px;
  background-color: #181818;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 11px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #FFFFFF;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.footer{
  color:black;
  text-align: center;
  background-color: white;
  margin: 0px;
  padding: 18px;
  width: 100%;
  }

  footer h3 {
    text-align: center;
  }

  .logoFooter {
    float: center; 
    padding: 0px;
    height: 200%;
    width: 250px; 
    text-decoration: none;
    border-radius: 30%;
}


