html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.contacts-content-header{
    background: url(../img/imgC/contact-header.jpg) no-repeat fixed;
    background-size: cover;
    text-align: center;
    height: 15.2rem;
    width: 100%;
    margin-left: -0.5rem;
    margin-top: -4.1rem;
}
.contacts-content-header h1{
    padding-top: 4rem;
    color: white;
    font-size: 6rem;
}
.aboutpage{
    width: 100%;
    overflow-x: hidden;
}

.contact-desc h2, .contact-desc h3{
    position: relative;
    left: 150px;
}
.contact-desc h2{
    color: #777777;
    font-size: 2rem;
}
.contact-desc h3{
    font-size: 1.2rem;
}
.Contact{
    position: absolute;
    top: 475px;
    left: 230px;
    font-size: 1.2rem;
}
.call_us, .address {
    margin-bottom: 50px;
}
.call_us h4, .address h4, .email h4{
    letter-spacing: 0.2rem;
}
.address a{
    text-decoration: none;
}

.call_us img{
    position: absolute;
    top: 5px;
    left: -70px;
}

.address img{
    position: absolute;
    top: 115px;
    left: -70px;
}

.email a{
    text-decoration: none;
}
.email img{
    position: absolute;
    top: 224px;
    left: -70px;
}

.Contact h4{
    color: #777777;
    margin: -2.5px;
}

.Contact h5{
    color: #444444;
}
.form{
    position: absolute;
    top: 412px;
    right: 110px;
 }
 
 .form-desc h2{
     position: relative;
     font-size: 1.3rem;
     text-align: center;
 }
 .userInfo{
    margin: 5px 8px 27px 0px;
    width: 215px;
    height: 40px;
}
#userMessage{
    width: 653px;
    height: 275px;
}

#submitButton{
    margin-left: 560px;
    height: 40px;
    width: 90px;
    background-color: orange;
    border-width: 0px;
}
#submitButton:hover{
    background-color: darkgoldenrod;
}
input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    font-size: 16px;
    resize: none;
}
button[type=submit] {
    width: 100%;
    background-color: orange;
    color: black;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover{
    width: 100%;
    background-color: lightgoldenrodyellow;
    color: black;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.map-location{
    position: absolute;
    top: 890px;
    left: 160px;
}
.footer {
    overflow-x: hidden;
    position: absolute;
    top: 85rem;
    width: 99.13%;
    margin-left: -1rem;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 10px;
    letter-spacing: 0.2rem;
    font-weight: bold;
}
.footer #icon{
    position: absolute;
    top: 90px;
    right: 30px;
}
.footer #icon:hover{
    opacity: 50%;
}
@media screen and (max-width: 1440px){
    .map-location{
        position: absolute;
        top: 890px;
        left: 180px;
    }
    iframe{
        width: 1078px;
        height: 450px;
    }
}
@media screen and (max-width: 1024px){
    
    .Contact{
        position: absolute;
        top: 450px;
        left: 150px;
    }
    .form{
        position: absolute;
        top: 409px;
        right: 75px;
     }
    .form-desc h2{
        font-size: 0.9rem;
    } 
    .userInfo{
         margin: 5px 8px 20px 0px;
         width: 137px;
         height: 30px;
     }
     
     #userMessage{
         width: 420px;
         height: 275px;
     }
     #submitButton{
        margin-left: 345px;
        height: 20px;
        width: 75px;
        background-color: orange;
        border-width: 0px;
    }
    .map-location {
        position: absolute;
        top: 870px;
        left: 89px;
    }
    iframe {
        width: 841px;
        height: 450px;
    }
    .footer{
        position: absolute;
        top: 83rem;
    }
}
@media screen and (max-width: 768px){
    #h2_contact{
        margin-bottom: 40px;
        padding-left: 10px;
    }
    .Contact{
        position: absolute;
        top: 400px;
        left: 300px;
    }
    .contact-desc h2, .contact-desc h3{
        position: relative;
        left: 80px;
    }
    .call_us, .call_us img{
        margin-left: -100px;
    }
    .address, .address img{
        margin-left: -100px;
    }
    .email, .email img{
        margin-left: -100px;
    }
    .form{
        position: absolute;
        top: 875px;
        right: 145px;
     }
     .form-desc h2{
         position: absolute;
         top: -150px;
     }
     
     .userInfo{
         position: relative;
         right: 6px;
         width: 495px;
         height: 30px;
     }
     
     #userMessage{
         width: 495px;
         height: 200px;
     }
     #submitButton{
        position: relative;
        left: 70px;
        height: 20px;
        width: 75px;
        background-color: orange;
        border-width: 0px;
    }
    .username_label{
        position: absolute;
        top: -125px;
        right: -8px;
    }
    .email_label{
        position: absolute;
        top: -85px;
        right: -8px;
    }
    .phone_label{
        position: absolute;
        top: -45px;
        right: -8px;
    }
    .map-location {
        position: absolute;
        top: 1150px;
        left: 130px;
    }
    iframe {
        width: 505px;
        height: 300px;
    }
    .footer{
        position: absolute;
        top: 92rem;
    }
    
}