html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.contacts-content-header{
    background: url(../img/imgC/contact-header.jpg) no-repeat fixed;
    background-size: cover;
    text-align: center;
    height: 15.2rem;
    width: 100%;
    margin-left: -0.5rem;
    margin-top: -4.1rem;
}
.contacts-content-header h1{
    padding-top: 4rem;
    color: white;
    font-size: 6rem;
}
.aboutpage{
    width: 100%;
    overflow-x: hidden;
}

.contact-desc h2, .contact-desc h3{
    position: relative;
    left: 150px;
}
.contact-desc h2{
    color: #777777;
    font-size: 2rem;
}
.contact-desc h3{
    font-size: 1.2rem;
}
.Contact{
    position: absolute;
    top: 475px;
    left: 230px;
    font-size: 1.2rem;
}
.call_us, .address {
    margin-bottom: 50px;
}
.call_us h4, .address h4, .email h4{
    letter-spacing: 0.2rem;
}
.address a{
    text-decoration: none;
}

.call_us img{
    position: absolute;
    top: 5px;
    left: -70px;
}

.address img{
    position: absolute;
    top: 115px;
    left: -70px;
}

.email a{
    text-decoration: none;
}
.email img{
    position: absolute;
    top: 224px;
    left: -70px;
}

.Contact h4{
    color: #777777;
    margin: -2.5px;
}

.Contact h5{
    color: #444444;
}
.form{
    position: absolute;
    top: 412px;
    right: 110px;
 }
 
 .form-desc h2{
     position: relative;
     font-size: 1.3rem;
     text-align: center;
 }
 .userInfo{
    margin: 5px 8px 27px 0px;
    width: 215px;
    height: 40px;
}
#userMessage{
    width: 653px;
    height: 275px;
}

#submitButton{
    margin-left: 560px;
    height: 40px;
    width: 90px;
    background-color: orange;
    border-width: 0px;
}
#submitButton:hover{
    background-color: darkgoldenrod;
}
input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    font-size: 16px;
    resize: none;
}
button[type=submit] {
    width: 100%;
    background-color: orange;
    color: black;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover{
    width: 100%;
    background-color: lightgoldenrodyellow;
    color: black;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}