body{
    overflow: hidden;
}
video{
margin: -8px;
width: 104%;
-webkit-filter: grayscale(100%);
 filter: grayscale(100%);
}
.left-gallery{
position: absolute;
margin-top: -15px;
margin-left: 20px;
z-index: 1;
}
.left-imgs{
height: 150px;
filter: grayscale(100);
z-index: 1;
}
.slideshow{
position: absolute;
height: 425px;
width: 800px;
background-color: gray;
margin-top: 65px;
margin-left: 180px;
z-index: 1;
}
.first-box{
position: absolute;
background-color: gray;
height: 200px;
width: 170px;
margin-top: 498px;
margin-left: 180px;
z-index: 1;
}
.second-box{
position: absolute;
background-color: gray;
height: 200px;
width: 170px;
margin-top: 498px;
margin-left: 360px;
z-index: 1;
}
.third-box{
position: absolute;
background-color: gray;
height: 200px;
width: 440px;
margin-top: 498px;
margin-left: 540px;
z-index: 1;
}
.mission-box{
position: absolute;
background-color: gray;
width: 220px;
height: 635px;
margin-top: 66px;
margin-left: 1025px;
z-index: 1;
}
.mission{
    z-index: -1;
    background-color: gray;
    margin-top: -20px;
}
.mission:hover{
    opacity: 0;
    transition-duration: .3s;
}
.mission-box:hover .mission{
    display: block;
    transition-duration: .3s;
}
.vision-box{
position: absolute;
background-color: gray;
width: 220px;
height: 635px;
margin-top: 65px;
margin-left: 1255px;
z-index: 1;
}
.vision{
    z-index: -1;
    background-color: gray;
}
.vision:hover{
    opacity: 0;
    transition-duration: .3s;
}
.vision-box:hover .vision{
    display: block;
    transition-duration: .3s;
}
@font-face{
    font-family: cube;
    src: url(fonts/Cube.ttf)
}
.m{
    height: 250px;
    
}
.m2{
    height: 250px;
    position: absolute;
    z-index: -1;
    filter: invert(100);
}
.v{
    height: 200px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.v2{
    height: 200px;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: -1;
    filter: invert(100);
}
.mvlabel{
    font-family: cube;
    font-size: 20px;
    font-weight: bolder;
}
.mvdetails{
    z-index: -1;
    position: absolute;
    margin-top: 220px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 20px;
}